# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
#REACT_APP_GOOGLE_MAPS_API_KEY=AIzaSyAykiO-H17ng8gybiRj2D4SXQeh9evK5aE

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
