/* App.css */

.App {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  height: 100vh;
  overflow: hidden;
}


.logo {
  /* Style your logo */
  height: 50px; /* Example size, adjust as needed */
  margin-right: 10px;
  margin-bottom: 5px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the contents horizontally */
  padding: 10px;
  background-color: #f5f5f5; /* Example color, adjust as needed */
  border-bottom: 1px solid #ddd; /* Adds a line to separate the header */
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* This will center the contents vertically */
}

/* This is where we set the layout for the sidebar and map to be side by side */
.content {
  display: flex;
  flex: 1; /* Takes up the remaining space after the header */
  overflow: hidden; /* Prevents internal scroll bars unless necessary */
}

/* Styles for the Sidebar component */
.sidebar {
  width: 450px; /* You can adjust the width as needed */
  background-color: #f0f0f0; /* Light grey background */
  overflow-y: auto; /* Allows the sidebar to scroll independently of the map */
  padding: 20px; /* Spacing inside the sidebar */
  border-right: 1px solid #ddd; /* Adds a line to separate the sidebar from the map */
  flex-direction: column; /* Stack the boxes vertically */
}

.sidebar-inner {
  background-color: #fff;
  border-radius: 15px; /* This creates the smooth curves */
  overflow-y: auto; /* Makes inner content scrollable if needed */
  padding: 15px; /* Padding inside the inner container */
  height: calc(100% - 30px); /* Subtracting the total vertical padding from the height */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Optional: Adds some shadow for depth */
}

.box {
  border: 1px solid #ccc; /* Border for each box */
  border-radius: 15px;
  margin-bottom: 20px; /* Adds space between the boxes */
  padding: 70px; /* Padding inside the box */
  background-color: #f8f3f3; /* White background for the box */
}

/* This ensures there's no bottom margin on the last box for a cleaner look */
.box:last-child {
  margin-bottom: 0;
}

.map-enclosure {
  flex-grow: 1; /* Take up remaining space */
  background-color: #fff; /* White background */
  border-radius: 15px; /* Rounded corners */
  overflow: hidden; /* Hide overflow */
  margin: 20px; /* Margin around the map */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Shadow for depth, similar to sidebar-inner */
}

.map-container {
  height: 100%; /* Adjust the height as needed */
  width: 100%; /* Adjust the width as needed */
  border-radius: 20px; /* This will give you rounded corners */
  overflow: hidden; /* Ensures the map doesn't overflow the rounded corners */
}
